In [9]:
!pip3 install kagglehub

Requirement already satisfied: kagglehub in /Users/thomascaneday/opt/anaconda3/lib/python3.9/site-packages (0.3.11)
Requirement already satisfied: packaging in /Users/thomascaneday/opt/anaconda3/lib/python3.9/site-packages (from kagglehub) (21.3)
Requirement already satisfied: pyyaml in /Users/thomascaneday/opt/anaconda3/lib/python3.9/site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in /Users/thomascaneday/opt/anaconda3/lib/python3.9/site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in /Users/thomascaneday/opt/anaconda3/lib/python3.9/site-packages (from kagglehub) (4.64.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/thomascaneday/opt/anaconda3/lib/python3.9/site-packages (from packaging->kagglehub) (3.0.9)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/thomascaneday/opt/anaconda3/lib/python3.9/site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/thomascaneday/opt/anaconda3/lib/python3.9/site-packages (from requests->kagglehub) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/thomascaneday/opt/anaconda3/lib/python3.9/site-packages (from requests->kagglehub) (1.26.19)
Requirement already satisfied: certifi>=2017.4.17 in /Users/thomascaneday/opt/anaconda3/lib/python3.9/site-packages (from requests->kagglehub) (2025.1.31)

In [10]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mczielinski/bitcoin-historical-data")

print("Path to dataset files:", path)

Path to dataset files: /Users/thomascaneday/.cache/kagglehub/datasets/mczielinski/bitcoin-historical-data/versions/202

In [11]:
# ScienceDirect article says to use Linear Regression or LSTM for BTC price prediction

In [23]:
import pandas as pd
import os

file_name = "btcusd_1-min_data.csv"
file_path = os.path.join(path, file_name)

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows
df.head()

      Timestamp  Open  High   Low  Close  Volume                   datetime
0  1.325412e+09  4.58  4.58  4.58   4.58     0.0  2012-01-01 10:01:00+00:00
1  1.325412e+09  4.58  4.58  4.58   4.58     0.0  2012-01-01 10:02:00+00:00
2  1.325412e+09  4.58  4.58  4.58   4.58     0.0  2012-01-01 10:03:00+00:00
3  1.325412e+09  4.58  4.58  4.58   4.58     0.0  2012-01-01 10:04:00+00:00
4  1.325412e+09  4.58  4.58  4.58   4.58     0.0  2012-01-01 10:05:00+00:00

In [19]:
# (# records, # fields)
df.shape

(6944800, 7)

In [20]:
# Column types
df.dtypes

Timestamp    float64
Open         float64
High         float64
Low          float64
Close        float64
Volume       float64
datetime      object
dtype: object

In [26]:
df.tail()

            Timestamp     Open     High      Low    Close    Volume datetime
6944795  1.742169e+09  82554.0  82554.0  82554.0  82554.0  0.072000      NaN
6944796  1.742169e+09  82584.0  82615.0  82584.0  82615.0  0.194670      NaN
6944797  1.742169e+09  82555.0  82555.0  82555.0  82555.0  0.002680      NaN
6944798  1.742170e+09  82555.0  82555.0  82555.0  82555.0  0.000000      NaN
6944799  1.742170e+09  82569.0  82569.0  82566.0  82566.0  0.003019      NaN